<div *ngIf="currentUser">

<ul  class="nav navbar-nav">

	<li class="active"><a href="index.html">Home</a></li>
        <li><a routerLink="/seguimientos" routerLinkActive="active">Seguimientos</a></li>
        <li><a href="contact.html">Conctacto</a></li>
			  <li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Salir<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/login" routerLinkActive="active">Cerrar Sesion</a></li>
                <li><a href="single-post.html">Cambia tu email</a></li>

              </ul>
    	</li>

</ul>

<p *ngFor="let usuario of currentUser">Hola {{usuario.firstname}},
bienvenido a la appTramites!</p>
</div>