<div *ngIf="currentUser">
<div>
<ul  class="nav navbar-nav">

	<li class="active" ><a routerLink="/boton-buscar" routerLinkActive="active">Inicio</a></li>
  <!-- <li><a routerLink="/seguimientos" routerLinkActive="active">Seguimientos</a></li> -->
  <li><a routerLink="/contacto" routerLinkActive="active">Conctacto</a></li>
	<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Salir<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a routerLink="/login" routerLinkActive="active">Cerrar Sesion</a></li>
        <li><a href="single-post.html">Cambia tu email</a></li>

      </ul>
  </li>

</ul>

</div>
<div *ngFor="let usuario of currentUser" style="margin-right: 0px; margin-top: 0px; display: inline-block; font-size: 12px;font-weight: normal;" class="label label-info">
  <i class="glyphicon glyphicon-user" style="font-size: 16px; margin-right: 5px;"></i>
  Hola <strong>{{usuario.firstname}}</strong>, bienvenido a la app!
</div>

</div>