

<div *ngIf="currentUser">

    <div class="col-md-6 col-md-offset-3" style="padding-top: 60px;">
        <h3 class="bg-primary encabezado">Actualiza tu contraseña <span class="icon-key2" style="font-size: .75em"></span></h3>

    <form name="form" class="form-horizontal" style="font-family:Conv_roundedelegance;" #form="ngForm" (ngSubmit)="form.form.valid && CambiaPassword()" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': !password.valid }">

                <label for="password" class="col-md-2 control-label">Password</label>
                <div class="col-md-10">
                    <input  type="password" id="password"     placeholder="Ingrese el nuevo password"  class="form-control" required name="password"     [(ngModel)]="model.password"  #password="ngModel"><br>
                    <div *ngIf="password.errors?.required && (password.dirty || password.touched)" [ngClass]="{ 'has-error': !password.valid }">Password es obligatorio</div>
                </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': !new_password.valid&& (new_password.dirty || new_password.touched) }">
                <label for="new_password" class="col-md-2 control-label">Confirma Password</label>
                <div class="col-md-10">
                    <input  type="password" id="new_password" placeholder="Confirma el nuevo Password" class="form-control" required name="new_password" [(ngModel)]="model.new_password" #new_password="ngModel"  [equalTo]="password"><br>
                    <div *ngIf="new_password.errors?.equalTo && (new_password.dirty || new_password.touched)">Ambos password deben ser iguales</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit"   class="form-control btn btn-info" [disabled]="!form.valid" >Confirmar</button>
            </div>
        </form>
    </div>

</div>