<div class="col-sm-3 col-md-3 pull-right pull-right" style="padding-top: 30px;"> <!--Botón de búsqueda de solicitud-->
  <form class="navbar-form" role="search">
  <div class="input-group">
      <input type="number" class="form-control"  required placeholder="Núm. Solicitud" name="srch-term"  [(ngModel)]="idSolicitud">
      <div class="input-group-btn">
          <button class="btn btn-default" type="submit" (click)="enviaSolicitud(idSolicitud)">
              <i class="glyphicon glyphicon-search"></i>
          </button>

      </div>
  </div>
  </form>
</div><!--Fin del botón de búsqueda de solicitud-->
