<h3 class="bg-primary encabezado" ><span class="icon-paste"></span>
  {{title}}
</h3>
<div class="datos">
  <div *ngFor="let solicitud of solicitudes">
  	<div><strong>Núm. Solicitud: </strong>{{solicitud.id_solicitud}}</div>
  	<div><strong>Trámite: </strong>{{solicitud.tramite}}</div>
  	<div><strong>Solicitante: </strong>{{solicitud.solicitante}}</div>
  </div>
  <div *ngFor="let tramite of tramites">
  	<div><strong>Subsecretaría: </strong>{{tramite.unidadAdministrativa}}</div>
  	<div><strong>Dirección: </strong>{{tramite.direccion}}</div>
  </div>
    <div *ngFor="let seguimiento of seguimientos">
  	  <div><strong>Seguimiento:</strong>{{seguimiento.observaciones}}	</div>
    </div>
</div>

<div class="table-responsive listado">
  <table class="table table-condensed table-hover">
  	<thead>
  		<th width="50%">Nombre de Archivo Adjunto</th>
  		<th width="25%"></th>
  		<th width="25%">Usuario que Adjunta</th>
  	</thead>
  	<tbody *ngFor="let adjunto of adjuntos">
  		<tr>

  			<!--<td width="50%"><a href="{{adjuntosruta}}{{adjunto.nombre}}" download="{{adjuntosruta}}{{adjunto.nombre}}" >{{adjunto.nombre}}</a></td>
				<td width="25%"><span *ngIF="adjunto.id_usuario=20"><a href="{{adjuntosruta}}{{adjunto.nombre}}" download="{{adjuntosruta}}{{adjunto.nombre}}" ><img src="../assets/img/download.png" width="26px" height="26px" style="text-align:right"/></a></span></td>
  			<td width="25%">{{adjunto.nombreusuario}}</td>-->
				<td width="50%" ><a href="{{adjuntosruta}}{{adjunto.nombre}}" download="{{adjuntosruta}}{{adjunto.nombre}}" >{{adjunto.nombre}}</a></td>
				<td width="25%" *ngIf="adjunto.nombreusuario!='CIUDADANO'">
					<a href="{{adjuntosruta}}{{adjunto.nombre}}" download="{{adjuntosruta}}{{adjunto.nombre}}" ><img src="../assets/img/download.png" width="26px" height="26px" style="text-align:right"/></a>
					
				</td>

				<td width="25%" *ngIf="adjunto.nombreusuario=='CIUDADANO'">
					<a href="{{adjuntosupload}}{{adjunto.nombre}}" download="{{adjuntosupload}}{{adjunto.nombre}}" ><img src="../assets/img/upload.png" width="26px" height="26px" style="text-align:right"/></a>
					
				</td>
				
  			<td width="25%">{{adjunto.nombreusuario}}</td>
  		</tr>

<!--
	td width="10%" [ngSwitch]="seguimiento.adjunto" style="text-align:center;">
  				<span *ngSwitchCase="true"><img src="../assets/img/ok.png" width="16px" height="16px"></span>
          
    				<span *ngSwitchCase="false"><img src="../assets/img/mal.png" ></span>
          
    			</td>
-->

  	</tbody>
  </table>
</div>
<p>
  <button  class="btn btn-primary btn-md pull-right" style="margin: 10px" (click)="gotoSeguimientos()">
    <i class="glyphicon glyphicon-backward" style="font-size: 12px; padding: 5px"></i>Regresar
  </button>
</p>
