<h2>
  {{title}}
</h2>
<div class="datos">
  <div *ngFor="let solicitud of solicitudes">
  	<div><strong>Núm. Solicitud: </strong>{{solicitud.id_solicitud}}</div>
  	<div><strong>Trámite: </strong>{{solicitud.tramite}}</div>
  	<div><strong>Solicitante: </strong>{{solicitud.solicitante}}</div>
  </div>
  <div *ngFor="let tramite of tramites">
  	<div><strong>Subsecretaría: </strong>{{tramite.unidadAdministrativa}}</div>
  	<div><strong>Dirección: </strong>{{tramite.direccion}}</div>
  </div>
    <div *ngFor="let seguimiento of seguimientos">
  	  <div><strong>Seguimiento:</strong>{{seguimiento.observaciones}}	</div>
    </div>
</div>

<div class="table-responsive listado">
  <table class="table table-condensed table-hover">
  	<thead>
  		<th width="75%">Nombre de Archivo Adjunto</th>
  		<th width="5%"></th>
  		<th width="20%">Usuario que Adjunta</th>
  	</thead>
  	<tbody *ngFor="let adjunto of adjuntos">
  		<tr>

  			<td width="75%"><a href="{{adjuntosruta}}{{adjunto.nombre}}" download="{{adjuntosruta}}{{adjunto.nombre}}" >{{adjunto.nombre}}</a></td>
  			<td width="5%"><a href="{{adjuntosruta}}{{adjunto.nombre}}" download="{{adjuntosruta}}{{adjunto.nombre}}" ><img src="../assets/img/download.png" width="26px" height="26px" style="text-align:right"/></a></td>
  			<td width="20%">{{adjunto.nombreusuario}}</td>
  		</tr>
  	</tbody>
  </table>
</div>
<button  class="btn btn-primary btn-lg" (click)="gotoSeguimientos()">Regresar</button>
